/* css/colonie.css */
  
/* ─── CSS Colonies (restauré avec priorités) ───────────────────────────────── */
.colonies_zzzelp {
  text-align: left !important;
  padding-left: 15% !important;
  padding-bottom: 10px !important;
}
.ligne_colonies_zzzelp {
  display: inline-block !important;
  vertical-align: top !important;
  width: 30% !important;
  line-height: 2.3em !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media (max-width: 976px) {
  .ligne_colonies_zzzelp {
    width: 45% !important;
  }
}
@media (max-width: 600px) {
  .ligne_colonies_zzzelp {
    width: 90% !important;
  }
}
.boite_membre.colonies_zzzelp_box {
  margin: auto !important;
  border: 1px solid !important;
  background-color: #d7c384 !important;
  padding: 5px !important;
  margin-bottom: 20px !important;
}
